<ion-card>
  <ion-card-header (click)="toggleAccordionRO()">
    <ion-col col-6>
      <ion-icon ios="ios-reorder" md="md-reorder" *ngIf="!visible"></ion-icon>
      <ion-icon ios="ios-close" md="md-close" *ngIf="visible"></ion-icon>
    </ion-col>
    <ion-col col-6 color="secondary">
      Form Mesin RO
    </ion-col>
  </ion-card-header>
  <ion-card-content #ccro>
    <ion-list>
      <form [formGroup]="roform" (ngSubmit)="simpanformro()">
        <ion-input type="hidden" formControlName="id_scan_header" [(ngModel)]="id_scan_header" required="required"></ion-input>
        <ion-item>
          <ion-label>Kalibrasi</ion-label>
          <ion-checkbox  formControlName="kalibrasi" [(ngModel)]="kalibrasi"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label floating>Power Time</ion-label>
          <ion-input type="number" formControlName="powertime" [(ngModel)]="powertime" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nomor Versi Software</ion-label>
          <ion-input type="number" formControlName="no_versi_soft" [(ngModel)]="no_versi_soft" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Tanggal Instalasi</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="tgl_instalasi" [(ngModel)]="tgl_instalasi" required="required"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Arteri Pressure</ion-label>
            <ion-input type="text" formControlName="arteri_pressure" [(ngModel)]="arteri_pressure" required="required"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label floating>Feed Pressure</ion-label>
          <ion-input type="number" formControlName="feed_pressure" [(ngModel)]="feed_pressure" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>System Pressure</ion-label>
          <ion-input type="number" formControlName="system_pressure" [(ngModel)]="system_pressure" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Permeate Flow</ion-label>
          <ion-input type="number" formControlName="permeate_flow" [(ngModel)]="permeate_flow" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Permeate Temperature</ion-label>
          <ion-input type="number" formControlName="permeate_temperature" [(ngModel)]="permeate_temperature" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Permeate Conductivity</ion-label>
          <ion-input type="number" formControlName="permeate_conductivity" [(ngModel)]="permeate_conductivity" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Concentrate Flow</ion-label>
          <ion-input type="number" formControlName="concentrate_flow" [(ngModel)]="concentrate_flow" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Concentrate Conductivity</ion-label>
          <ion-input type="number" formControlName="concentrate_conductivity" [(ngModel)]="concentrate_conductivity" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Feed Water Flow</ion-label>
          <ion-input type="number" formControlName="feed_water_flow" [(ngModel)]="feed_water_flow" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Feed Water Conductivity</ion-label>
          <ion-input type="number" formControlName="feed_water_conductivity" [(ngModel)]="feed_water_conductivity" required="required"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Feed Water Temperature</ion-label>
          <ion-input type="number" formControlName="feed_water_temperature" [(ngModel)]="feed_water_temperature" required="required"></ion-input>
        </ion-item>
        <ion-label>Leaking RO</ion-label>
        <ion-list radio-group formControlName="leaking_ro" [(ngModel)]="leaking_ro" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Pompa Tekanan Tinggi</ion-label>
        <ion-list radio-group formControlName="pompa_tekanan_tinggi" [(ngModel)]="pompa_tekanan_tinggi" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Instrumen Listrik</ion-label>
        <ion-list radio-group formControlName="instrumen_listrik" [(ngModel)]="instrumen_listrik" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Mechanical Instrument</ion-label>
        <ion-list radio-group formControlName="mechanical_instrument" [(ngModel)]="mechanical_instrument" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Ganti Module Membrane</ion-label>
        <ion-list radio-group formControlName="ganti_module_membrane" [(ngModel)]="ganti_module_membrane" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Backwash Sand Filter</ion-label>
        <ion-list radio-group formControlName="backwash_sand_filter" [(ngModel)]="backwash_sand_filter" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Backwash Carbon Filter</ion-label>
        <ion-list radio-group formControlName="backwash_carbon_filter" [(ngModel)]="backwash_carbon_filter" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Regenerasi Resin</ion-label>
        <ion-list radio-group formControlName="regenerasi_resin" [(ngModel)]="regenerasi_resin" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Check Kebocoran Piping</ion-label>
        <ion-list radio-group formControlName="check_kebocoran_piping" [(ngModel)]="check_kebocoran_piping" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Penggantian Filter Cartridges</ion-label>
        <ion-list radio-group formControlName="penggantian_filter_cartridges" [(ngModel)]="penggantian_filter_cartridges" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Penggantian Sand Filter</ion-label>
        <ion-list radio-group formControlName="penggantian_sand_filter" [(ngModel)]="penggantian_sand_filter" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Penggantian Resin Filter</ion-label>
        <ion-list radio-group formControlName="penggantian_resin_filter" [(ngModel)]="penggantian_resin_filter" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Penggantian Carbon Filter</ion-label>
        <ion-list radio-group formControlName="penggantian_carbon_filter" [(ngModel)]="penggantian_carbon_filter" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Check Kebocoran Pompa Filtrasi</ion-label>
        <ion-list radio-group formControlName="check_kebocoran_pompa_filtrasi" [(ngModel)]="check_kebocoran_pompa_filtrasi" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Check Instrumen Listrik</ion-label>
        <ion-list radio-group formControlName="check_instrumen_listrik" [(ngModel)]="check_instrumen_listrik" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Check Kebocoran Pompa Feed</ion-label>
        <ion-list radio-group formControlName="check_kebocoran_pompa_feed" [(ngModel)]="check_kebocoran_pompa_feed" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-label>Check Instrumen Mekanical</ion-label>
        <ion-list radio-group formControlName="check_instrumen_mekanical" [(ngModel)]="check_instrumen_mekanical" required="required">
          <ion-item>
            <ion-label>Bagus</ion-label>
            <ion-radio value="B"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cukup</ion-label>
            <ion-radio value="C"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Kurang</ion-label>
            <ion-radio value="K"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Rencana</ion-label>
          <ion-textarea type="text" formControlName="rencana" [(ngModel)]="rencana" required="required"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Catatan</ion-label>
          <ion-textarea type="text" formControlName="catatan" [(ngModel)]="catatan" required="required"></ion-textarea>
        </ion-item>
        <ion-row>
          <ion-col col-12>
            <button ion-button full color="primary" type="button" (click)="tutup()">
              <ion-icon ios="ios-arrow-dropup-circle" md="md-arrow-dropup-circle">
                <small>Tutup</small>
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12><!--[disabled]="!roform.valid"-->
            <button ion-button full color="secondary" type="submit" >
              <ion-icon ios="ios-send" md="md-send">
                <small>Simpan</small>
              </ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </form>
    </ion-list>
  </ion-card-content>
</ion-card>