<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Worksheet</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="grid-basic-page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-md-2>NO REF</ion-col>
        <ion-col col-md-6>{{no_ref}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2>NOMOR SERIAL</ion-col>
        <ion-col col-md-6>{{no_seri}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <h2>List Sparepart Mesin</h2>
      </ion-card-header>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col col-4>
                    <button ion-button color="primary" (click)="openModalSp()">
                        Tambah
                    </button>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>List Error Mesin</h2>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col col-4>
                  <button ion-button color="primary" (click)="openModalErr()">
                      Tambah
                  </button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <h2>Services</h2>
  </ion-card-header>
  <ion-card-content>
      <ion-grid>

          <ion-row>
            <ion-col col-6>
                <button ion-button [disabled]="this.aktifbtnhd" color="secondary" (click)="openfrhd()">
                    FORM HD
                </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button [disabled]="this.aktifbtnro" color="energy" (click)="openfrro()">
                    FORM RO
                </button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
