<ion-content padding class="bg">
  <div class="top">
    <img src="assets/imgs/logo.jpg" alt="logo">
  </div>
  <ion-list class="panellogin">
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"  [(ngModel)]="username" #ctl="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"  [(ngModel)]="password"  #ctl="ngModel"></ion-input>
  </ion-item>
  </ion-list>
    <button ion-button block round color="btnactive" (click)="login()" [disabled]="username == '' || password == ''">
      Login
    </button>
    <ion-row class="lupapanel">
      <b><a (click)="openforgotpanel()">Lupa password?</a></b>
  </ion-row>
  </ion-content>
  