<!--
  Generated template for the QtyspmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Jumlah Sparepart</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
      <ion-col>
        <form [formGroup]="formqty" (ngSubmit)="simpanform()">
            <ion-item>
                <ion-label>Kode Sparepart</ion-label>
                <ion-input type="text" formControlName="kd_sparepart"  required="required" readonly="{{isReadonly}}"></ion-input>
              </ion-item>  
          <ion-item>
                <ion-label>JUMLAH SPAREPART</ion-label>
                <ion-input type="number" formControlName="qty"  required="required"></ion-input>
              </ion-item>
         
          <button ion-button  full color="secondary" type="submit">
              <ion-icon ios="ios-send" md="md-send">
                <small>Simpan</small>
              </ion-icon>
            </button>
        </form>
      </ion-col>
    </ion-row>
    
</ion-content>


