
<ion-header>
  <ion-navbar>
    <ion-title>Final Task</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-card-header>
          <h2>Data Mesin</h2>
        </ion-card-header>
        <ion-card-content>
            <div style="overflow-x:auto;">
                <table>
                  <tr>
                    <th style="text-align: center">NO SERI</th>
                    <th style="text-align: center">STATUS</th>
                    <th style="text-align: center">AKSI</th>
                  </tr>
                  <tr *ngFor="let item of dataSet">
                    <td> {{item.no_seri}} </td>
                    <td> {{this.checkstatus(item.photo)}} </td>
                    <td>
                      <button color block ion-button icon-left (click)="openlayerfoto('mesin',item)">
                        <ion-icon name="camera"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
          </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <h2>Upload Bukti Hadir</h2>
      </ion-card-header>
      <ion-card-content>
        <button color ion-button block icon-left (click)="openlayerfoto('upload','kosong')">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <h2>Silahkan Tandatangan</h2>
        </ion-card-header>
        <ion-card-content>
            <button color="primary" block ion-button icon-left (click)="signpageopen()">
                <ion-icon ios="ios-create" md="md-create" ></ion-icon>
              </button>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <h2>Close WorkOrder</h2>
          </ion-card-header>
          <ion-card-content>
              <button color="primary" block ion-button icon-left (click)="scanbarcode()">
                <ion-icon name="camera"></ion-icon>
                </button>
          </ion-card-content>
        </ion-card>
</ion-content>
