<ion-header>
    <ion-navbar color="primary">
      <ion-title>Dashboard</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="grid-basic-page">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>
        <ion-card>
            <ion-item>
                <ion-badge color="{{this.checkstatus(datawo.STATUS)}}" item-end> {{this.checktext(datawo.STATUS)}} </ion-badge>
                <ion-badge color="{{this.checkurgensiwrn(datawo.urgensi)}}" item-end> {{this.checkurgensi(datawo.urgensi)}}</ion-badge>
                <ion-badge color="secondary" item-end> {{datawo.datecreated | amTimeAgo}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                  <img src="{{this.changeimg(datawo.foto)}}">
                </ion-avatar>
                <h2> {{datawo.Nama_customer}} </h2>
                <p>{{datawo.kode_customer}}</p>
                <p>{{datawo.datecreated | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
                </ion-item>
                <ion-item>
                  <ion-row>
                    <ion-col>
                     <p>NO. WO</p>
                    </ion-col>
                    <ion-col>
                      <p>{{datawo.no_wo}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>NO Tiket</p>
                    </ion-col>
                    <ion-col>
                      <p>{{datawo.no_tiket === null ? 'TIKET DIBUAT OLEH ADMIN' : datawo.no_tiket}}</p>
                    </ion-col>
                  </ion-row>
                </ion-item>
                
              <ion-card-content>
                <h2>Detail Tiket  </h2>
                  <p>{{datawo.deskripsi === null ? 'TIKET DIBUAT OLEH ADMIN' : ''}} </p>
                  <p>{{datawo.deskripsi === null ? datawo.keterangan : datawo.deskripsi}} </p>
                  
                </ion-card-content>
              <ion-row>
                <ion-col>
                  <button  ion-button  [disabled]="this.dissaktiftombol" color="secondary" (click)="scanbarcode(datawo)">
                    JOIN
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button  [disabled]="this.btnprogress" color="onproccess" (click)="detailwo()">
                    PROGRESS
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button  [disabled]="this.btnstatus" color="danger" (click)="logout(datawo)">
                    LOGOUT
                  </button>
                </ion-col>
              </ion-row>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-row>
                    <ion-col>
                      Informasi WO
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>Dibuka Oleh:</ion-col><ion-col>{{dashboardwoheader.open_by}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>Pukul:</ion-col><ion-col>{{dashboardwoheader.open_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>Ditutup Oleh:</ion-col><ion-col>{{dashboardwoheader.closed_by}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>Pukul:</ion-col><ion-col>{{dashboardwoheader.closed_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</ion-col>
                  </ion-row>
            </ion-item>
        </ion-card>
        <!--ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
        <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div-->
        <ion-card>
          <ion-card-header >
            <p><b>*Geser untuk melihat aksi</b></p>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-sliding *ngFor="let data of dataparticipant">
                <ion-item>
                  <ion-avatar item-start>
                    <img src="{{this.changeimgtek(data.foto)}}">
                  </ion-avatar>
                  <p> {{data.nik}} - {{data.Nama_Karyawan}}</p>
                  <p>Login: {{data.login_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
                  <p>Logout: {{data.logout_time | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
                </ion-item>
                <ion-item-options *ngIf="moreinfoteknisi" side="right">
                  <button ion-button color="primary" (click)="moreinfo(data)">
                    <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
                    Info
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="dataexist">
          <ion-card-content >
            <h2>Teknisi Not Available</h2>
          </ion-card-content>
        </ion-card>
        
  </ion-content>